body {

    

}

*{

    font-family: monospace;

    box-sizing: context-box;

}

form {

    width: 400px;

    border: 5px solid rgb(0,0,139);

    padding: 10px;

    background: #FFFAFA;

    border-radius: 10px;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;   
}

h2 {

    text-align: center;

    color : rgb (0,0,139);

    margin-bottom: 40px;

}

input {

    display: block;

    border: 2px solid rgb(0,0,139);

    width: 95%;

    padding: 10px;

    margin: 10px auto;

    border-radius: 5px;

}

label {

    color: rgb (0,0,139);

    font-size: 18px;

    padding: 10px;

}

button {

    float: right;

    background: rgb(0, 0, 139);

    padding: 10px 15px;

    color: #fff;

    border-radius: 5px;

    margin-right: 10px;

    border: none;

}

button:hover{

    opacity: 0.7;

}


.error {

   background: #F2DEDE;

   color: #0c0101;

   padding: 10px;

   width: 95%;

   border-radius: 5px;

   margin: 20px auto;

}

h1 {

    text-align: center;

    color: rgb(134, 3, 3);

}

a {

    float: right;

    background: rgb(183, 225, 233);

    padding: 10px 15px;

    color: #fff;

    border-radius: 10px;

    margin-right: 10px;

    border: none;

    text-decoration: none;

}

a:hover{

    opacity: .7;

}
